@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

.logica-de {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .logica-de .div {
    background-color: #ffffff;
    width: 1728px;
    height: 1429px;
    position: relative;
  }
  
  .logica-de .component {
    position: absolute;
    width: 1728px;
    height: 240px;
    top: 0;
    left: 0;
    background-color: #05f228;
  }
  
  .logica-de .text-wrapper {
    position: absolute;
    top: 95px;
    left: 96px;
    font-family: "Sixtyfour-Close", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 48px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .logica-de .group {
    position: absolute;
    width: 783px;
    height: 319px;
    top: 399px;
    left: 81px;
  }
  
  .logica-de .group-wrapper {
    height: 319px;
  }
  
  .logica-de .group-2 {
    position: relative;
    width: 803px;
    height: 319px;
  }
  
  .logica-de .overlap-group {
    position: absolute;
    width: 492px;
    height: 166px;
    top: 153px;
    left: 120px;
  }
  
  .logica-de .radio-buttons {
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .logica-de .container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 0 0 auto;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .logica-de .state-layer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .logica-de .icon {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .logica-de .container-wrapper {
    top: 52px;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  
  .logica-de .div-wrapper {
    top: 106px;
    display: flex;
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
  }
  
  .logica-de .p {
    position: absolute;
    width: 437px;
    top: 17px;
    left: 54px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .logica-de .text-wrapper-2 {
    top: 67px;
    left: 55px;
    position: absolute;
    width: 437px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .logica-de .text-wrapper-3 {
    top: 123px;
    left: 54px;
    position: absolute;
    width: 437px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .logica-de .overlap-group-2 {
    position: absolute;
    width: 783px;
    height: 150px;
    top: 0;
    left: 0;
  }
  
  .logica-de .ellipse {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 75px;
  }
  
  .logica-de .rectangle {
    position: absolute;
    width: 740px;
    height: 98px;
    top: 26px;
    left: 43px;
    background-color: #d9d9d9;
    border-radius: 40px;
  }
  
  .logica-de .text-wrapper-4 {
    position: absolute;
    top: 55px;
    left: 69px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .logica-de .text-wrapper-5 {
    position: absolute;
    top: 55px;
    left: 150px;
    font-family: "Montserrat-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .logica-de .group-3 {
    position: absolute;
    width: 783px;
    height: 319px;
    top: 785px;
    left: 81px;
  }
  
  .logica-de .button {
    all: unset;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 517px;
    height: 110px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: absolute;
    top: 1215px;
    left: 605px;
    background-color: #008b14;
    border-radius: 100px;
    overflow: hidden;
  }
  
  .logica-de .label-text-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 24px;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .logica-de .label-text {
    position: relative;
    width: fit-content;
    font-family: "Montserrat-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0.10px;
    line-height: 20px;
    white-space: nowrap;
  }
  