@font-face {
  font-family: 'Sixtyfour';
  src: url('./Fonts/Sixtyfour-Regular.woff2') format('woff2'),
    url('./Fonts/Sixtyfour-Regular.woff') format('woff'),
    url('./Fonts/Sixtyfour-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  /* Soporta todo el rango de pesos */
  font-style: normal;
}

body,
main {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
  gap: 80px;
  flex-direction: column;
  align-items: center;
}

.titulos {
  background: #018210;
  width: 100vw;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulop {
  color: #FFF;
  font-family: Sixtyfour;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.formulario2 {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;

}

p,
a {
  color: #000;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.input2 {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: 138px;
  gap: 24px;
}

.pp {
  color: #000;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.op1 {
  display: flex;
  gap: 12px;
}

.numerop {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background: #D9D9D9;
  border-radius: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.pregunta {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.preguntap {
  width: auto;
  height: auto;
  margin-left: -107px;
  padding: 30px 60px 30px 107px;
  flex-shrink: 0;
  border-radius: 40px;
  background: #D9D9D9;
}

#testForm {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: auto;
  box-shadow: 0px 0px 10px black;
}

.modal img {
  width: 120px;
  margin-top: 10px;
}

.close {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  /* Tamaño total */
  height: 24px;
  border: 2px solid #65558F;
  /* Anillo exterior */
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background-color: white;
  cursor: pointer;
}

/* Círculo interior cuando está seleccionado */
input[type="radio"]:checked::before {
  content: "";
  width: 12px;
  /* Tamaño del círculo interno */
  height: 12px;
  background-color: #65558F;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 517px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #008B15;
  border-radius: 55px;
  border: none;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 160px;
}