* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
}

.titleContainer {
    width: auto;
    height: 240px;
    flex-shrink: 0;
    background: #F20505;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: #FFF;
    font-family: Sixtyfour;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questionsContainer {
    margin-top: 160px;
    gap: 90px;
    display: flex;
    flex-direction: column;
}

.containerQuestionAnswer {
    position: relative;
    margin-left: 81px;
    height: 370px;
}

.questionContainer {
    position: absolute;
    width: 850px;
    height: 150px;
    top: 0;
    left: 0;
}

.ellipse {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #d9d9d9;
    border-radius: 75px;
}

.rectangle {
    position: absolute;
    width: 790px;
    height: 98px;
    top: 26px;
    left: 43px;
    background-color: #d9d9d9;
    border-radius: 40px;
}

.questionNumber {
    position: absolute;
    top: 55px;
    left: 69px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.question {
    position: absolute;
    top: 55px;
    left: 150px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
}

.codeContainer {
    position: absolute;
    left: 925px;
    width: 700px;
    height: 376px;
    flex-shrink: 0;
    background-color: rgba(217, 217, 217, 0.50);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.code {
    /*width: 361px;*/
    color: #000;
    font-family: "Montserrat";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.answerContainer {
    position: absolute;
    width: 492px;
    height: 166px;
    top: 153px;
    left: 120px;
    color: #000;
    font-family: 'Montserrat', Helvetica;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
